body {
  background: rgb(255, 255, 255);
  margin: 0;
}
/*
h2 {
  break-before: page;
} */

@media print {
  body {
    background: rgb(255, 255, 255);
  }
}

@page {
  size: 5in 8in;
  margin-top: 0in;
  margin-bottom: 0in; 
}

@page:left {
  margin-left: 0in;
  margin-right: 0in;

  @bottom-center {
    z-index: 9999;
   margin-top: -0.3in;
   content: counter(page);
  } 
  @top-center {
    z-index: 9999;
    margin-top: 0.3in;
    content: "UNBOXED";
  }
}
@page:right {
  margin-left: 0in;
  margin-right:0;
  @bottom-center {
    z-index: 9999;
    margin-top: -0.3in;
    content: counter(page);
  } 
  @top-center {
    z-index: 9999;
    margin-top: 0.3in;
    content: "YINING ZHOU";
  }

}

.page1, .page3 , .page16{
  page: noPageNumber;
}

@page noPageNumber {
  @bottom-center {
    content: none;
  }
}